#container{
    display: flex;
    height: 640px;
    width: 640px;
    background-color: white;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
    
}
body{
    height: 800px;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.box{
    
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    flex: 1 1 auto;
}