.container{
    display: flex;
    height: 640px;
    width: 640px;
    background-color: white;
    
}
body{
    height: 800px;
    background-color: darkslateblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}